      <div id="content" class="span11">
      
      
      <div class="row-fluid">

        <div class="stats span2">
          <div>Node name</div>
          <em class="title" ng-bind="instance.node"></em>
        </div>
        
        <div class="stats span2">
          <div>Cluster name</div>
          <em class="title" ng-bind="cluster.name"></em>
        </div>
        
        <div class="stats span8">
          
          <div class="stat">
            <div class="left">
              <div class="number green" ng-bind="clusterMembership.instances.length">0</div>
              <div class="title"><span class="color green"></span>Instances</div>
            </div>
          </div>

          <div class="stat">
            <div class="left">
              <div class="number blue" ng-bind="metrics.Connections">0</div>
              <div class="title"><span class="color blue"></span>Clients</div>
            </div>
          </div>

          <div class="stat">
            <div class="left">
              <div class="number blue" ng-bind="metrics.Channels">0</div>
              <div class="title"><span class="color blue"></span>Channels</div>
            </div>
          </div>

          <div class="stat">
            <div class="left">
              <div class="number red" ng-bind="instance.partitions.length">0</div>
              <div class="title"><span class="color red"></span>Partitions</div>
            </div>
          </div>
          
            
        </div>

      <div  class="row-fluid">
          <div class="widget span6">
            <h2><span class="glyphicons fire"><i></i></span>Processing Time (Per Operation)</h2>
            <hr>
            <div class="content">
               <div id="metric-ProcessingTime" style="height:300px;"></div>
            </div>
          </div>
          <div class="widget span6">
            <h2><span class="glyphicons fire"><i></i></span>System</h2>
            <hr>
            <div class="content">
               <div id="metric-System" style="height:300px;"></div>
            </div>
          </div>
      </div>
      
      </div>  


      
       </div>
     </div>