      <!-- start: Main Menu -->
      <div id="sidebar-left" class="span1">
        <div class="nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <%= lc {name, url, icon, active} inlist @pages do %>
              <li <%= if active do %> class="active" <% end %> >
              <a href="<%= url %>"><i class="fa-icon-<%= icon %>"></i><span class="hidden-tablet"> <%= name %></span></a></li> 
            <% end %>
          </ul>
        </div>
      </div>
      <!-- end: Main Menu -->
      
      <noscript>
        <div class="alert alert-block span11">
          <h4 class="alert-heading">Warning!</h4>
          <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
      </noscript>
      
      <!-- start: Content -->
        <%= @view %>
      <!-- end: Content -->
