html,body{
    height: 100%
}

footer {
    height: 24px; 
    width:100%;
    position: absolute !important;
    margin: 0px !important;
    left: 0;
    bottom: 0;     
}

#holder {
  min-height: 100%;
  position:relative;
}

#content-holder{
    padding-bottom: 24px;
}